@import './general.scss';
@import './variable.scss';
.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    width:100%;
    background: $compBg;
    height:60px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
}

.footer {
    width:100%;
    background: $compBg;
    height:40px;
    color: $brandWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    font:normal 14px/30px $mainFont;
}
.cart-main-area {
    width: 100%;
    padding:0 0 40px 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.logo {
    width:40px;
    height:32px;
    cursor: pointer;
}
.filter-area {
    width: 20%;
    padding: 20px 15px 0;
}
.cart-area {
    width:80%;
    padding: 20px 0 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-left: 1px solid $normalsort;
}
.filter-area-holder {
    width: 100%;
}
.gen-heading {
    font:bold 16px/30px $mainFontBold;
    color: $brandBlack;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &.phone {
        width: 100px;
        margin: 15px 0 0 15px;
        svg {
            margin: 0 5px 0 0;
        }
    }
}
.cart-item-holder {
    width:calc(20% - 15px);
    margin:0 15px 20px 0;
}
.cart-img {
    width: 100%;
    max-height: 237px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
.cart-cont-holder {
    width: 100%;
}
.cart-item-title {
    font: normal 14px $mainFont;
    color: $brandCont;
    margin:5px 0 0 0;
    &.body {
       width:120px;
        margin:5px 0 5px 0;
    }
    &.bordy-r {
        margin:5px 0 5px 0;

    }
}
.cart-price-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    &.added {
        width:180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.current-price {
    font: bold 14px $mainFontBold;
    color: $brandBlack;
    margin: 0 10px 0 0;
}
.original-price {
    font: normal 14px $mainFont;
    color: $brandCont;
    text-decoration: line-through;
    margin: 0 10px 0 0;
}
.offer {
    font: bold 14px $mainFontBold;
    color: $offerGreen;
}
.add-to-cart {
    font: normal 14px $mainFontBold;
    color: $brandCont;
    background: $brandYellow;
    cursor: pointer;
    width:60%;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto;
	box-shadow: none;
    display: block;
    border: 0;
    &.apply {
        background: $compBg;
        color: $brandWhite;
        margin: 50px auto 0;
    }
    &:focus {
        outline: none;
    }
}
.sort-area {
    width: 100%;
    padding:0 0 0 15px;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sort-title {
    font: normal 14px $mainFont;
    color: $normalsort;
    margin: 0 0 0 40px;
    cursor: pointer;
    &.active {
        color: $compBg;
        text-decoration: underline;
    }
}
.header-right-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px 0 0;
}
.search-holder {
    width:200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 40px 0 15px;
}
.search-box {
    width: calc(100% - 40px);
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid $brandWhite;
    color: $brandWhite;
    height: 30px;
    padding: 0 ;
    background: none;
    font: normal 12px $mainFont;
    &:focus {
        outline: none;
    }
}
.cart-holder-top {
    position: relative;
}
.cart-alert {
    width: 15px;
    height: 15px;
    background: $alertRed;
    color: $brandWhite;
    font: bold 11px/15px $mainFontBold;
    border-radius: 50%;
    position: absolute;
    right:-8px;
    top:-6px;
    z-index: 5;
    text-align: center;

}
.filter-holder {
    width: calc(100% - 30px);
    height: 100px;
    margin: 30px 0 0 15px;
    position: relative;
    .input-range__label--max {
        width: 65px;
    }
    .input-range__label-container {
        color: $brandCont;
        font: normal 12px $mainFont;
    }
    .input-range__label--min {
        width: 65px;
        .input-range__label-container {
            left:0;
        }
    }
    .input-range__label--value {
        .input-range__label-container {
            left:-50%;
        }
    }
    .input-range__slider {
        background: $brandWhite;
        border: 1px solid $compBg;
    }
    .input-range__track--active {
        background: $compBg;
    }
    
}
.slider-label {
    position: absolute;
    left: 50%;
    top: 22px;
    transform: translateX(-50%);
    z-index: 5;
    font: normal 12px $mainFont;
    color: $brandBlack;
}
.added-carts-container {
    width:100%;
    padding: 20px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.added-carts-inner-container {
    width:70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.added-carts-holder {
    padding:15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: $brandWhite;
    border: 1px solid $brandCont;
    margin: 0 0 15px 0;
}
.added-carts-img {
    width: 100px;
    height: 100px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
.added-carts-right {
    margin: 0 0 0 15px;
    width: 100%;
}
.added-carts-controls-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.added-carts-cal-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}
.added-carts-add {
    width:30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid $brandCont;
    font: normal 20px/30px $mainFont;
    text-align: center;
    cursor: pointer;
}
.added-carts-input {
    width: 40px;
    height: 30px;
    border:1px solid $brandCont;
    text-align: center;
    font: normal 16px/30px $mainFont;
    background: $brandWhite;
}
.remove {
    font: normal 16px $mainFont;
    text-transform: uppercase;
    color: $brandCont;
    cursor: pointer;
    margin: 0 15px 0 0;
}
.total-container {
    width: 25%;
    border: 1px solid $brandCont;
    background: $brandWhite;
}
.total-header {
    width: 100%;
    height: 40px;
    border-bottom:1px solid $brandCont;
    font: normal 16px/40px $mainFont;
    text-transform: uppercase;
    padding: 0 0 0 15px;
}
.total-footer {
    width: 100%;
    height: 40px;
    border-top:1px solid $brandCont;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0;
    .cart-item-title {
        font: bold 16px $mainFontBold;
    }
}
.total-body {
    width: 100%;
    padding: 0 15px 0;
    font: normal 16px/30px $mainFont;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pointer {
    cursor: pointer;
}
.web-controls-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.phone-controls-holder {
    width: 100%;
    display: none;
}
.phone-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.phone-popup {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    z-index: 9;
    background: $brandWhite;
}
.radio-holder {
    width: 100%;
    padding: 15px;
    label {
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        font: normal 14px $mainFont;
        input {
            margin: 0 10px 0 0;
        }
    }
}
.popup-footer {
    width: 100%;
    margin: 15px 0 0 0;
    border-top: 1px solid $brandCont;
}
.cancel-btn {
    width: calc(50% - 1px);
    height: 30px;
    font: normal 16px/30px $mainFont;
    color: $compBg;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid $brandCont;
    box-shadow: none;
    border: none;
    &.apply {
        width:50%;
        border: 0;
    }
    &:focus {
        outline: none;
    }
}
.filter-outer-holder {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    
    .phone-controls-holder {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .web-controls-holder{
        display: none;
    }
    .cart-item-holder {
        width:calc(50% - 15px);
    }
    .filter-area {
        display: none;
    }
    .cart-area {
        width: calc(100% - 25px);
    }
    .cart-img {
        max-height: none;
    }
    
.add-to-cart {
    &.apply {
        display: none;
    }
}
.filter-holder {
    width: calc(100% - 60px);
    height: 60px;
    margin: 30px auto 15px;
}
.added-carts-inner-container {
    width: 100%;
    flex-direction: column;
}
.total-container {
    width: 100%;
}
.added-carts-container {
    flex-direction: column;
}
.remove {
    margin: 10px 0 0 0;
}
.added-carts-controls-holder {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
}