@import './general.scss';
@import './variable.scss';
.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    width:100%;
    background: $compBg;
    height:60px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
}

.footer {
    width:100%;
    background: $compBg;
    height:40px;
    color: $brandWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    font:normal 14px/30px $mainFont;
}
.cart-main-area {
    width: 100%;
    padding:0 0 40px 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.logo {
    width:40px;
    height:32px;
}
.filter-area {
    width: 20%;
    padding: 20px 15px 0;
    border-right: 1px solid $normalsort;
}
.cart-area {
    width:80%;
    padding: 20px 0 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.filter-area-holder {
    width: 100%;
}
.gen-heading {
    font:bold 16px/30px $mainFontBold;
    color: $brandBlack;
}
.cart-item-holder {
    width:calc(20% - 15px);
    margin:0 15px 20px 0;
}
.cart-img {
    width: 100%;
    height: 237px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
.cart-cont-holder {
    width: 100%;
}
.cart-item-title {
    font: normal 14px $mainFont;
    color: $brandCont;
    margin:5px 0 0 0;
}
.cart-price-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}
.current-price {
    font: bold 14px $mainFontBold;
    color: $brandBlack;
    margin: 0 10px 0 0;
}
.original-price {
    font: normal 14px $mainFont;
    color: $brandCont;
    text-decoration: line-through;
    margin: 0 10px 0 0;
}
.offer {
    font: bold 14px $mainFontBold;
    color: $offerGreen;
}
.add-to-cart {
    font: normal 14px $mainFontBold;
    color: $brandCont;
    background: $brandYellow;
    cursor: pointer;
    width:60%;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto;
	box-shadow: none;
    display: block;
    border: 0;
}
.sort-area {
    width: 100%;
    padding:0 0 0 15px;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sort-title {
    font: normal 14px $mainFont;
    color: $normalsort;
    margin: 0 0 0 40px;
    &.active {
        color: $compBg;
        text-decoration: underline;
    }
}